[workspace]
resolver = "2"
members = [
    "crates/jstz_core",
    "crates/jstz_api",
    "crates/jstz_proto",
    "crates/jstz_crypto",
    "crates/jstz_kernel",
    "crates/jstz_cli",
    "crates/jstz_node",
    "crates/jstz_wpt",
    "crates/octez",
    "crates/jstz_rollup",
]


[workspace.package]
edition = "2021"
version = "0.1.0"
authors = ["TriliTech <contact@trili.tech>"]
repository = "https://github.com/trilitech/jstz"

[workspace.dependencies]
jstz_core = { path = "crates/jstz_core" }
jstz_api = { path = "crates/jstz_api" }
jstz_kernel = { path = "crates/jstz_kernel" }
jstz_proto = { path = "crates/jstz_proto" }
jstz_crypto = { path = "crates/jstz_crypto" }
octez = { path = "crates/octez" }
jstz_rollup = { path = "crates/jstz_rollup" }

[workspace.dependencies.tezos-smart-rollup]
version = "0.2.2"
default-features = false
features = ["std", "crypto", "panic-hook", "data-encoding", "storage", "proto-alpha"]

[workspace.dependencies.tezos-smart-rollup-host]
version = "0.2.2"
features = ["proto-alpha"]

[workspace.dependencies.tezos-smart-rollup-mock]
version = "0.2.2"

[workspace.dependencies.tezos-smart-rollup-installer]
version = "0.2.2"

[workspace.dependencies.tezos_crypto_rs]
version = "0.5.2"
default-features = false

[patch.crates-io]
tezos-smart-rollup = { git = "https://gitlab.com/tezos/tezos.git" }
tezos-smart-rollup-host = { git = "https://gitlab.com/tezos/tezos.git" }
tezos-smart-rollup-core = { git = "https://gitlab.com/tezos/tezos.git" }
tezos-smart-rollup-mock = { git = "https://gitlab.com/tezos/tezos.git" }
tezos-smart-rollup-encoding = { git = "https://gitlab.com/tezos/tezos.git" }
tezos-smart-rollup-entrypoint = { git = "https://gitlab.com/tezos/tezos.git" }
tezos-smart-rollup-debug = { git = "https://gitlab.com/tezos/tezos.git" }
tezos-smart-rollup-panic-hook = { git = "https://gitlab.com/tezos/tezos.git" }
tezos-smart-rollup-storage = { git = "https://gitlab.com/tezos/tezos.git" }
boa_ast = { git = "https://github.com/trilitech/boa.git", branch = "sam.finch@/context/expose-instruction-count" }
boa_engine = { git = "https://github.com/trilitech/boa.git", branch = "sam.finch@/context/expose-instruction-count" }
boa_gc = { git = "https://github.com/trilitech/boa.git", branch = "sam.finch@/context/expose-instruction-count" }
boa_interner = { git = "https://github.com/trilitech/boa.git", branch = "sam.finch@/context/expose-instruction-count" }
boa_macros = { git = "https://github.com/trilitech/boa.git", branch = "sam.finch@/context/expose-instruction-count" }
boa_parser = { git = "https://github.com/trilitech/boa.git", branch = "sam.finch@/context/expose-instruction-count" }
boa_profiler = { git = "https://github.com/trilitech/boa.git", branch = "sam.finch@/context/expose-instruction-count" }
