[package]
name = "jstz_runtime"
edition.workspace = true
version.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
readme.workspace = true
license-file.workspace = true
description = "Javascript runtime for Jstz"

[dependencies]
deno_console.workspace = true
deno_core = "=0.341.0"
deno_fetch = "0.220.0"
jstz_core = { path = "../jstz_core" }
jstz_crypto = { path = "../jstz_crypto" }
tezos-smart-rollup.workspace = true
tezos-smart-rollup-host.workspace = true

[dev-dependencies]
anyhow.workspace = true
deno_error.workspace = true
derive_more.workspace = true
expect-test.workspace = true
jstz_wpt = { path = "../jstz_wpt" }
serde_json.workspace = true
tezos-smart-rollup-mock.workspace = true
tokio.workspace = true
deno_fetch.workspace = true

[features]
skip-wpt = []
