[package]
name = "jstzd"
authors.workspace = true
version.workspace = true
edition.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
async-dropper.workspace = true
async-trait.workspace = true
bollard.workspace = true
env_logger.workspace = true
futures-util.workspace = true
tokio.workspace = true
log.workspace = true

[[bin]]
name = "jstzd"
path = "src/main.rs"

