[package]
name = "jstzd"
authors.workspace = true
version.workspace = true
edition.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
async-dropper-simple.workspace = true
async-trait.workspace = true
bollard.workspace = true
futures-util.workspace = true
http.workspace = true
octez = { path = "../octez" }
reqwest.workspace = true
tempfile.workspace = true
tokio.workspace = true

[dev-dependencies]
rand.workspace = true
reqwest.workspace = true

[[bin]]
name = "jstzd"
path = "src/main.rs"
