[package]
name = "jstz_node"
edition.workspace = true
version.workspace = true
authors.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.5.1"
actix-web-lab = "0.20.0"
anyhow = "1.0.75"
bincode = "1.3.3"
clap = { version = "^4.4", features = ["derive"] }
env_logger = "0.11.1"
futures-util = "0.3.30"
hex = "0.4.3"
jstz_proto.workspace = true
jstz_crypto.workspace = true
jstz_api.workspace = true
octez.workspace = true
parking_lot = "0.12.1"
reqwest = { version = "0.11.22", features = ["json"] }
serde = { version = "1.0.183", features = ["derive"] }
thiserror = "1.0.56"
tokio = { version = "1.33.0", features = ["fs", "rt-multi-thread"] }
tokio-stream = "0.1.14"
tokio-util = "0.7.10"
serde_json = "1.0.105"
dirs = "3.0"
r2d2 = "0.8"
r2d2_sqlite = "0.22"
rusqlite = "0.29"
log = "0.4.20"

[[bin]]
name = "jstz-node"
path = "src/main.rs"
