name: Continuous Integration

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  build:
    name: Build
    uses: jstz-dev/jstz/.github/workflows/cli-npm.yaml@test-gnu
    with:
      dry_run: true
      ref: test-gnu
    secrets: inherit
