name: Build docker image for subsequent jobs

on:
  push:
    tags:
      - "*"

  # For manually rebuilding the images
  workflow_dispatch:
    inputs:
      ref:
        description: The branch, tag, or SHA from which images will be built
        required: true
        type: string
      octez-tag:
        description: "tezos/tezos docker tag to be used"
        required: true
        type: string
      dry_run:
        description: Dry-run image build without pushing to the registry
        type: boolean
        required: false
        default: true

  workflow_call:
    inputs:
      ref:
        description: The branch, tag, or SHA from which images will be built
        required: true
        type: string
      octez-tag:
        description: "tezos/tezos docker tag to be used"
        required: true
        type: string
      dry_run:
        description: Dry-run image build without pushing to the registry
        type: boolean
        required: false
        default: true
    outputs:
      jstz-cli:
        description: "jstz docker image tag"
        value: ${{ jobs.build-image.outputs.tag }}
      jstz-node:
        description: "jstz-node docker image tag"
        value: ${{ jobs.build-image.outputs.tag }}
      jstzd:
        description: "jstzd docker image tag"
        value: ${{ jobs.build-image.outputs.tag }}

jobs:
  set-input-values:
    name: Set input values for workflows triggered by tags
    runs-on: ubuntu-latest
    outputs:
      octez-tag: ${{ steps.run.outputs.OCTEZ_TAG }}
      dry_run: ${{ steps.run.outputs.DRY_RUN }}
      ref: ${{ steps.run.outputs.REF }}
    steps:
      - id: run
        run: |
          input_tag=${{ inputs.octez-tag }}
          octez_tag=${input_tag:-"23.2"}
          echo "OCTEZ_TAG=${octez_tag}" >> ${GITHUB_OUTPUT}

          dry_run=${{ inputs.dry_run }}
          # Default to false because workflows triggered by tags are not going to dry-run
          dry_run=${dry_run:-"false"}
          echo "DRY_RUN=${dry_run}" >> ${GITHUB_OUTPUT}

          ref=${{ inputs.ref }}
          push_ref=${{ github.ref_name }}
          ref=${ref:-"${push_ref}"}
          echo "REF=${ref}" >> ${GITHUB_OUTPUT}
  build-kernel:
    name: Build (Kernel)
    runs-on: [x86_64, linux, nix]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.set-input-values.outputs.ref }}
      - run: nix --version
      - name: Format
        run: nix --accept-flake-config fmt -- --fail-on-change
      - name: Prevent blst
        run: nix --accept-flake-config develop -j auto --command sh -c '[ -z "$(cargo tree | grep blst)" ]'
      - name: Build
        run: nix --accept-flake-config --log-format raw -L build -j auto .#jstz_kernel
      - name: Upload kernel
        id: upload-kernel
        uses: actions/upload-artifact@v5
        with:
          name: jstz-kernel
          path: result/lib/jstz_kernel.wasm
  build-image:
    name: Build image
    needs: [build-kernel, set-input-values]
    strategy:
      matrix:
        include:
          - image: jstzd
            dockerfile: ./crates/jstzd/Dockerfile
          - image: jstz-cli
            dockerfile: ./crates/jstz_cli/Dockerfile
          - image: jstz-node
            dockerfile: ./crates/jstz_node/Dockerfile
    uses: jstz-dev/jstz/.github/workflows/docker-multiplatform.yml@main
    with:
      octez-tag: ${{ needs.set-input-values.outputs.octez-tag }}
      docker_registry: ghcr.io
      docker_image_base: jstz-dev/jstz
      image: ${{ matrix.image }}
      dockerfile: ${{ matrix.dockerfile }}
      kernel_artifact_name: jstz-kernel
      dry_run: ${{ needs.set-input-values.outputs.dry_run == 'true' || needs.set-input-values.outputs.dry_run == true }}
      ref: ${{ needs.set-input-values.outputs.ref }}
    secrets: inherit
