name: Runtime API coverage

on:
  workflow_call:
    inputs:
      build_ref:
        description: Ref that triggered the build. If not provided, the commit that triggers the build will be used.
        type: string

jobs:
  runtime_api_coverage:
    name: Runtime API coverage
    runs-on: ubuntu-latest
    container:
      image: rust:1.82-slim
    steps:
      - name: Setup
        run: apt update && apt install -y git curl pkg-config libssl-dev
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.build_ref }}
      - name: Run
        id: run
        shell: bash
        run: |
          cd crates/jstz_runtime
          bash ./tests/api_coverage/setup.sh
          OUTPUT_PATH=./output.json cargo test --test api_coverage
      - uses: actions/upload-artifact@v4
        with:
          name: report
          path: crates/jstz_runtime/output.json
          retention-days: 1
