name: Run nightly long-running tests

on:
  workflow_dispatch:
  schedule:
    - cron: "30 4 * * *" # Runs at 4:30 am daily

jobs:
  wpt:
    name: Web Platform Test
    runs-on: ubuntu-latest
    container:
      image: rust:1.82-slim
    steps:
      - name: Setup
        run: apt update && apt install -y git curl python3.11 pkg-config libssl-dev
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Run
        run: |
          ln -s /usr/bin/python3.11 /usr/bin/python3
          cd crates/jstz_wpt/wpt && python3 wpt make-hosts-file >> /etc/hosts
          python3 wpt serve &
          cd ../../jstz_runtime
          curl -s --output tests/deno_report.json https://storage.googleapis.com/wptd-results/e78446e34a1921371658a5df08c71d83f50a2a2f/deno-2.1.10_4921411-linux-unknown-fccd901f99/report.json
          STATS_PATH=$(pwd)/out.txt cargo test --test wpt
          while read line; do
            echo "$line" >> $GITHUB_STEP_SUMMARY
          done < $(pwd)/out.txt

  benchmark:
    name: Benchmark
    runs-on: [x86_64, linux, nix]
    steps:
      - uses: actions/checkout@v4
      - name: Run benchmark
        id: bench
        run: |
          result=$(nix --accept-flake-config --log-format raw -L run .#tps_bench)
          echo "result=$result" >> $GITHUB_OUTPUT || true
      - name: Display result
        run: |
          echo "Result for commit $GITHUB_SHA: ${{ steps.bench.outputs.result }}"

  runtime_api_coverage:
    name: Runtime API coverage
    uses: jstz-dev/jstz/.github/workflows/runtime-api-coverage.yml@main
    secrets:
      repo_token: ${{ secrets.RUNTIME_API_REPORT_REPO }}
    with:
      target_repo: jstz-dev/nodejs-compat-matrix
      branch: deploy
